
@using Oasis.Models
@using Oasis.Models.Login
@{ ViewBag.Title = "Cartera"; }

@{ var id_usuario = (User as CustomPrincipal).id_usuario;
                var db = new as2oasis();
                var sucursales = db.detalle_usuario_empresa_sucursal
                    .Where(x => x.id_usuario == id_usuario)
                    .GroupBy(x => x.sucursalOasis.nombre)
                    .Select(x => x.Key);
                var empresas = db.detalle_usuario_empresa_sucursal
                    .Where(x => x.id_usuario == id_usuario)
                    .GroupBy(x => x.empresaOasis.nombre)
                    .Select(x => x.Key); }


<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Cartera por cobrar</h2>
                <div class="card-tools">
                    <button type="button" class="btn bg-primary btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-primary btn-sm" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Empresa</label>
                            @*@Html.DropDownList("empresa_ind",
                            new SelectList(ViewBag.Opciones, "Value", "Text"),
                            htmlAttributes: new { @class = "form-control" })*@
                            <select class="form-control" id="empresa_ind" name="empresa">
                                <option value="0">Todas las empresas</option>
                                @foreach (var emp in empresas)
                                {
                                <option value="@emp">@emp</option>
}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Localidad</label>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <select class="form-control" id="localidad" disabled="">
                                            <option value="CIUDAD">CIUDAD</option>
                                            <option value="GIRA">GIRA</option>
                                        </select>
                                    </div>
                                    <div class="custom-control custom-checkbox" style="display: inline-block; align-self: center;">
                                        <input class="custom-control-input" type="checkbox" id="chkLocalidad" checked="" disabled="">
                                        <label for="chkLocalidad" class="custom-control-label" disabled="">Ambas localidades</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Fecha Cartera:</label>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control float-right" id="fecha_corte">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Región</label>
                            <div class="row">
                                <div class="col-lg-9">
                                    <select class="form-control" id="sucursal_ind">
                                       <option value="0">Todas las Regiones</option>
                                        @foreach (var suc in sucursales)
                                        {
                                        <option value="@suc">@suc</option>}
                                    </select>
                                </div>
                                @*<div class="custom-control custom-checkbox" style="display: inline-block; align-self: center;">
                                    <input class="custom-control-input" type="checkbox" id="chkRegion">
                                    <label for="chkRegion" class="custom-control-label">Todas</label>
                                </div>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Tipo de cliente</label>
                                    <div class="col-sm-6">
                                        <!-- checkbox -->
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input tipoCliente" name="INSTITUCIONES" type="checkbox" id="chkInstituciones">
                                                <label for="chkInstituciones" class="custom-control-label">Instituciones</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input tipoCliente" name="FARMACIA" type="checkbox" id="chkFarmacia" checked="">
                                                <label for="chkFarmacia" class="custom-control-label">Farmacia</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input tipoCliente" name="DISTRIBUIDORES" type="checkbox" id="chkDistribuidores">
                                                <label for="chkDistribuidores" class="custom-control-label">Distribuidores</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Tipo de cartera</label>
                                    <div class="col-md-10">
                                        <!-- checkbox -->
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input cartera_general" id="cartera_general" type="radio" name="radio1" checked="">
                                                <label class="form-check-label" style="font-weight:700;" for="cartera_general">General</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input cartera_visitador" id="cartera_visitador" type="radio" name="radio1">
                                                <label class="form-check-label" style="font-weight:700;" for="cartera_visitador">Por visitador</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="visibility: hidden" id="divVendedor">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Visitador</label>
                                    <select class="form-control js-data-vendedor-ajax" id="sucursal">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" id="DetalleIndividual" style="visibility: hidden" class="btn btn-info  float-left">Detalle individual</button>
                <button type="button" id="GenerarCartera" class="btn btn-primary  float-right">Generar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Content/js/Cartera.js"></script>
    <script>
        console.log("ENTRA AL CS")
        $('#chkRegion').click(
            function () {
                if (this.checked) {
                    $("#sucursal_ind").prop("disabled", true);
                } else {
                    $("#sucursal_ind").prop("disabled", false);
                }
            });


        $('.cartera_visitador').change(
            function () {
                if (this.checked) {
                    $("#divVendedor").css('visibility', 'visible');
                }
            });

        $('.cartera_general').change(
            function () {
                if (this.checked) {
                    $("#divVendedor").css('visibility', 'hidden');
                    $("#DetalleIndividual").css('visibility', 'hidden');
                }
            });
        console.log("INICIO ACTIVAR VEND")
        ActivarVendedores();
        
        function ActivarVendedores() {
            $('.js-data-vendedor-ajax').select2({
                //selectOnClose: true,
                minimumInputLength: 2,
                language: {
                    inputTooShort: function () { return "Ingresar dos o más caracteres"; }
                },
                tags: [],
                ajax: {
                    url: '/Presupuesto/ObtenerVendedores',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.username,
                                    id: item.id_vendedor
                                }
                            })
                        };
                    },
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            textoBusqueda: params.term,
                            empresa: $('#empresa_ind').val(),
                            sucursal: $('#sucursal_ind').val()
                        }
                        return query;
                    }
                }
            }).on('change', function (e) {
                $("#DetalleIndividual").css('visibility', 'visible');
                //var id_vendedor = $(this).select2('data')[0].id_vendedor;
                //$(e.target).closest('#id_vendedor').val(id_vendedor);
            });
        }

        console.log("FIN ACTIVAR VEND")

        $('#fecha_corte').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY',
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
            },
            startDate: firstDay,
            endDate: lastDay
        });
    </script>
}