
@using Oasis.Models
@using Oasis.Models.Login

@{ ViewBag.Title = "Detalle de venta por producto";
                var id_usuario = (User as CustomPrincipal).id_usuario;
                var as2 = new AS2Context();
                var db = new as2oasis();
                var sucursales = db.detalle_usuario_empresa_sucursal
                    .Where(x => x.id_usuario == id_usuario)
                    .GroupBy(x => x.sucursalOasis.nombre)
                    .Select(x => x.Key);
                var empresas = db.detalle_usuario_empresa_sucursal
                    .Where(x => x.id_usuario == id_usuario)
                    .GroupBy(x => x.empresaOasis.nombre)
                    .Select(x => x.Key);
                var categoria_cliente = as2.categoria_empresa
                    .GroupBy(x => x.nombre)
                    .Select(x => x.Key); }


<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Detalle de venta por producto</h2>
                <div class="card-tools">
                    <button type="button" class="btn bg-primary btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-primary btn-sm" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="empresa">Empresa</label>
                            <select class="form-control" id="empresa" name="empresa">
                                <option value="0">Todas las empresas</option>
                                @foreach (var emp in empresas)
                                {
                    <option value="@emp">@emp</option>}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col" style=" text-align: center; ">
                            <label>Fecha de facturación</label>
                            <div class="row" style="
                                                text-align: center;
                                                place-content: center;
                                            ">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="fecha_corte">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" id="GenerarDatos" class="btn btn-primary  float-right">Generar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Content/js/Ventas.js"></script>
    <script>

        $('#fecha_corte').daterangepicker({
            locale: {
            format: 'DD/MM/YYYY',
        "daysOfWeek": [
        "Do",
        "Lu",
        "Ma",
        "Mi",
        "Ju",
        "Vi",
        "Sa"
        ],
        "monthNames": [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
        ],
            },
        startDate: firstDay,
        endDate: lastDay
        });

    </script>
}