
@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte</h2>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- form start -->
            <div class="card-body">
                <table id="tablaOC">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Proveedor</th>
                            <th>RUC</th>
                            <th>Secuencial</th>
                            <th>Fecha</th>
                            <th>Departamento</th>
                            <th>Código</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>UM</th>
                            <th>Cantidad</th>
                            <th>Valor linea</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('#tablaOC').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "processing": true,
            //"serverSide": true,
            "ajax": {
                "url": "ReporteOC",
                "type": "POST",
                "dataSrc": ""
            },
            "columns": [
                { "data": "empresa" },
                { "data": "proveedor" },
                { "data": "ruc_proveedor" },
                { "data": "secuencial" },
                { "data": "fecha" },
                { "data": "departamento" },
                { "data": "codigo_producto" },
                { "data": "descripcion_producto" },
                { "data": "categoria_producto" },
                { "data": "um_producto" },
                { "data": "cantidad_producto" },
                { "data": "valor_linea" },
                { "data": "valor_total" }
            ],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
            }
        });

    </script>

}
