@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hola 🖐</h1>
    <p class="lead">
        Oasis V2 es una aplicación web que te permite gestionar datos y generar reportes en base a la información del ERP AS2.</p>
    <p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crédito y cobranza</h2>
        <p>
            <ul>
                <li>Editar/Revisar Presupuesto</li>
                <li>Generar presupuesto</li>
                <li>Generar cartera</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="Credito/Consolidado">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bodega</h2>
        <ul>
            <li>Impresión guía Urbano</li> 
        </ul>
        <a class="btn btn-default"  href="GuiasRemision">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Compras</h2>
        <ul>
            <li>Creación/Edición de producto</li>
            <li>Creación de OC</li>
        </ul>
        <a class="btn btn-default" href="">Ir &raquo;</a></p>
    </div>
</div>