
@{
    ViewBag.Title = "CambiarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
               new { @class = "" }))
            {
                
            <h1>@Html.ValidationMessage("")</h1>
                <div class="card-header">
                    <h3 class="card-title">Cambiar contraseña</h3>
                </div>
                <div class="card-body">
                    <strong>Nueva clave</strong>
                    <div class="input-group mb-3">
                        <input id="password1" name="password1" type="password" class="form-control" onchange="check()">
                    </div>
                    <!-- /input-group -->
                    <strong>Confirmar clave</strong>
                    <div class="input-group mb-3">
                        <input id="password2" name="password2" type="password" class="form-control" onchange="check()">
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button id="Guardar" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function check() {
        if (document.getElementById('password1').value ==
            document.getElementById('password2').value) {
            //document.getElementById('Guardar').disabled = false;
        } else {
            //document.getElementById('Guardar').disabled = true;
        }
    }
</script>


